{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "react/forbid-prop-types": [
      0
    ],
    "react/jsx-filename-extension": [
      0
    ],
    "arrow-body-style": ["error", "always"]
  },
  "globals": {
    "window": true
  }
}